<% content_for :title, "mapa" %>
<div class="iframe-container">
  <div style='height: 100%;'>
    <div id="sidebar_builder" style='width: 100%; height: 100%;'></div>
    <%= render "multimap" %>
  </div>
  <%= link_to (image_tag "solectwo_logo.png", class:"img-static-home"), "http://solectwolubiana.pl" %>
</div>
