<% content_for :title, "mapa" %>

<div class="iframe-container">
  <div style='height: 750px;'>
    <div id="sidebar_builder" style='width: 100%; height: 100%;'></div>
    <%= render "multimap" %>
  </div>
</div>
