/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$btn-padding-x-xs:  .20rem !default;
$btn-padding-y-xs:  .12rem !default;
$input-btn-line-height-xs: 1.1 !default;

.btn.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $input-btn-line-height-xs, $btn-border-radius-sm);
}

.pagination {
   align-items: center;
   justify-content: center;
}

.res-img {
  width: 75%;
  height: 75%;
}

.full-img {
  width: 100%;
  height: auto;
}

.half-img {
  width: 50%;
  height: auto;
}

img {
  width: 75%;
  height: auto;
}

// iframe resposnive
iframe {
  height:calc(100vh);
  width:calc(100vw);
  box-sizing: border-box;
}

// dashboard.css from getbootstrap.com

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.bg-solectwo {
    background-color: #005DA8 !important;
}

.btn-solectwo {
  margin-top: .2rem;
  margin-bottom: .8rem;
  width: 100% !important;
}

.btn-outline-solectwo {
  color: #005CA9;
  background-color: transparent;
  background-image: none;
  border-color: #005CA9;
}

.btn-outline-solectwo:hover {
  color: #fff;
  background-color: #005CA9;
  border-color: #005CA9;
}

.btn-outline-solectwo:focus, .btn-outline-solectwo.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-solectwo.disabled, .btn-outline-solectwo:disabled {
  color: #005CA9;
  background-color: transparent;
}

.btn-outline-solectwo:not(:disabled):not(.disabled):active, .btn-outline-solectwo:not(:disabled):not(.disabled).active,
.show > .btn-outline-solectwo.dropdown-toggle {
  color: #fff;
  background-color: #005CA9;
  border-color: #005CA9;
}

.btn-outline-solectwo:not(:disabled):not(.disabled):active:focus, .btn-outline-solectwo:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-solectwo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/*
 * gmaps
 */

.iframe-container{
  height:calc(100vh);
  width:calc(100vw);
  box-sizing: border-box;
}

.btn-static {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  background-color: #005CA9;
  border-color: #005CA9;
}

.btn-static:hover {
  color: #fff;
  background-color: #005CA9;
  border-color: #005CA9;
}

.img-static {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20%;
  height: auto;
}

.img-static-home {
  position: absolute;
  bottom: 5px;
  left: 40%;
  width: 20%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 10px; 
}
