<% content_for :title, "Edytuj miejsce" %>
<div class="container-fluid">
  <h5>Parametry</h5><hr>
  <%= render 'form', place: @place %>
  <h5>Lokalizacja zdjęcia</h5><hr>
  <div class="wrapper" align="center">
    <div id="sidebar_builder" style='width: 1300px; height: 600px;'></div>
  </div>
  <%= render "tripmap" %>
</div>
