<% content_for :title, "Nowe miejsce – " %>
<div class="container">
  <h5>Nowe miejsce</h5><hr>
  <h5>Parametry</h5><hr>
  <%= render 'form', place: @place %>
  <h5>Lokalizacja zdjęcia</h5><hr>
  <div class="wrapper" align="center">
    <div id="sidebar_builder" style='width: 1000px; height: 600px;'></div>
  </div>
  <%= render "tripmap" %>
  <hr>
</div>
